In [1]:
pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 64kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 16.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=5037b1ea303e1f70b3a31f3a83490935be8ea82f3f366fa984fc471b7ba56c9a
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [2]:
import pyspark

In [4]:
import pandas as pd
pd.read_csv('/content/test1.csv')

    Name  Age
0   Abba   31
1  Jabba   21
2  Dabba   23

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
spark

In [9]:
df_spark = spark.read.csv("/content/test1.csv")

In [10]:
df_spark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
| Abba| 31|
|Jabba| 21|
|Dabba| 23|
+-----+---+

In [15]:
df_spark = spark.read.option('header','true').csv('test1.csv')

In [16]:
spark.read.option('header','true').csv('test1.csv').show()

+-----+---+
| Name|Age|
+-----+---+
| Abba| 31|
|Jabba| 21|
|Dabba| 23|
+-----+---+

In [17]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [18]:
df_spark.head(3)

[Row(Name='Abba', Age='31'),
 Row(Name='Jabba', Age='21'),
 Row(Name='Dabba', Age='23')]

In [19]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)